:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/Background.png);                                      /* novidade: inserido a imagem fia CSS, a diferença é que se essa imagem de fundo não coarregar no CSS não impactara a vida do usuario, ou seja não é uma imagem relevante, por isso foi carregada pelo proprioi CSS, definindo a imagem de fundo */
    background-repeat: no-repeat;                                                   /* definindo para imagem de fundo não repetir, se esse parametro a imagem de fundo se repetira ao long da pagina */
    background-size: contain;                                                       /* ajustando espaçamento da esquerda */
}

.container{
    height: 100vh;                                                                  /* definindo a altura pela atura do dispositivo por isso vh ==> viewport + height */
    display: grid;                                                                  /* distribui os elementos na section */
    grid-template-columns: 50% 50%;                                                 /* separa o grid criado em colunas com 50% do espaço */    
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;                                                                   /* definindo tamanho da fonte */
    color: var(--branco-principal);
    display: block;                                                                 /* definindo o posicionamento do botão */
}

.botao_secundario{
    background-color: transparent;                                                   /* definindo como fundo transparante */       
    border: 2px solid var(--branco-principal);    
}