:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';                                                     /* esse cor vem dos imports de cores do google que foram inserido no HTML */

}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;    
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/Background.png);                                      /* novidade: inserido a imagem fia CSS, a diferença é que se essa imagem de fundo não coarregar no CSS não impactara a vida do usuario, ou seja não é uma imagem relevante, por isso foi carregada pelo proprioi CSS, definindo a imagem de fundo */
    background-repeat: no-repeat;                                                   /* definindo para imagem de fundo não repetir, se esse parametro a imagem de fundo se repetira ao long da pagina */
    background-size: contain;                                                       /* ajustando espaçamento da esquerda */
    align-items: center;                                                            /* centralizando item dentro da div, como a div está definida como coluna será centralizando no centro da coluna */
    text-align: center;                                                             /*  o text-aline alinha todos os elementos dentro do bloco, mesmo que sejam imagens*/
}

.container{
    height: 100vh;                                                                  /* definindo a altura pela atura do dispositivo por isso vh ==> viewport + height */
    display: grid;                                                                  /* distribui os elementos na section */
    grid-template-columns: 50% 50%;                                                 /* separa o grid criado em colunas com 50% do espaço */    
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;                                                                   /* definindo tamanho da fonte */
    color: var(--branco-principal);
    display: block;                                                                 /* definindo o posicionamento do botão */
    text-decoration: none;
    margin-bottom: 1em;                                                             /* ajustando espaçamento entre os botões, botton é mais especifico que somente magin */
}

.botao__secundario{
    background-color: transparent;                                                   /* definindo como fundo transparante */       
    border: 2px solid var(--branco-principal);    
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 06em;                                                                       /* ajustando as laterais da div */
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;                                                               /* ajustando somente a margem de baixo */
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secunrario__botao{
    display: inline-block;                                                              /* com essa configuração o botão dessa classe utilizara somente o espaço suficiente para o texto, ou seja esse display inlinebloc pega as melhores parte do inline e do bloc*/
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;                                                              /* tirando o marcado de ponto de cada linha da lista, por padrão vem com ponto para cada linha da lista */
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
}

.rodape__list{
    display: flex;
    justify-content: center;
    list-style-type: none;  
    margin: 1em 0;    
    
}

.list__link{
    flex-grow: 0.09;
}

.link__link{
   color: var(--branco-principal);
   text-decoration: none;
   font-size: 16px;
   color: var(--branco-principal);
}

.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    margin: 2em 2em;
}